

// background 

$white:#FFFFFF;
$second-white:#fffffa;





// text
$green-text:#3adc79;
$orange-text:#f28202;
$red-text:#ff3a2d;
$second-red-text:#d74d52;
$ligthgrey-text1:#777777;
$lightgrey-text2:#555555;
$lightgrey-text3:#495057;
$lightblack-text:#192836;
$black-text:#000000;
