
@import 'variables.scss';
*{
    box-sizing:border-box;
    margin:0;
}


a{
    text-decoration:none;
}


// utilities
.ct-h100{
    height:100%;
}
.ct-h100h{
    height: 100vh;
}
.ct-w100a{
    width:100%;
}
.ct-w80A{
    width:70%;
    margin:auto;
   
}
.ct-w10{
    width:15%;
}
.ct-w30{
    width:30%;
}

.ct-h80px{
    height: 80px;
}
.ct-black{
    background-color: black;
}

// section

.ct-section{
    display:flex;
    flex-direction:column;
    align-items: center;
    text-align:center;
    margin-top:3rem;

    h1{
        padding:0 6em;

        span{
            color:$red-text;
        }
    }

    .card-section{
        display:flex;
        justify-content: space-between;
    }
}

.statistics-section{
    display: flex;
    justify-content: space-between;
    text-align:center;
    margin-top:1em;
    font-size:2rem;
}


// card 
.ct-card{
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding:2em 2em;
    margin-top:3em;
    border-radius:10px;
    gap:2em;
    
    
    
    box-shadow: 5px 5px 15px 3px rgba(119, 119, 119, 0.2);

    img {
        width: 20%;
    
    }
}

