
@import 'variables.scss';
*{
    box-sizing:border-box;
    margin:0;
}


a{
    text-decoration:none;
}


// utilities
.ct-h100{
    height:100%;
}
.ct-h100h{
    height: 100vh;
}
.ct-w100a{
    width:100%;
}
.ct-w80A{
    width:70%;
    margin: auto;
}

.ct-w50{
    width:50%;
}
.ct-w10{
    width:15%;
}
.ct-w30{
    width:30%;
}

.ct-h80px{
    height: 80px;
}
.ct-black{
    background-color: black;
}

// section

.ct-section{
    display:flex;
    flex-direction:column;
    align-items: center;
    text-align:center;
    margin-top:3rem;

    h1{
        padding:0 6em;

        span{
            color:$red-text;
        }
    }

    .card-section{
        display:flex;
        justify-content: space-between;
    }
}

.statistics-section{
    display: flex;
    justify-content: space-between;
    text-align:center;
    margin-top:1em;
    font-size:2rem;
}


// card 
.ct-card-course{
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top:3em;
    border-radius:10px;
    gap:2em;
    text-align:left;
    
    
    
    box-shadow: 5px 5px 15px 3px rgba(119, 119, 119, 0.2);

    img {
        height:100%;
        width:100%;
        object-fit: cover;
    }
}

.ct-card-about{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3em;
    border-radius: 10px;
    gap: 2em;
    padding:20px;



    box-shadow: 5px 5px 15px 3px rgba(119, 119, 119, 0.2);

    img {
        
        width: 30%;
        object-fit: contain;
    }
}

.ct-card-image {
    height: 50%;


}

.ct-card-descr {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.price-bg {
    width:10%;
    background: $red-background;
    background: linear-gradient(180deg,  rgba(255, 255, 255, 0) 50%, $red-background , $red-background 10%);
}




